{% extends 'base-controller.html' %}

{% block pagetitle %}
Editar imagem da materia
{% endblock %}

{% block controller %}
{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success text-center" role="alert">
                <strong> <i class="bi bi-check-circle"></i> </strong> {{ message }}
            </div>
        {% else %}
            <div class="alert alert-danger text-center" role="alert">
                <strong> <i class="bi bi-clipboard-x"></i> </strong> {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class=" text-center">
    <div class="card text-start" style="margin: 1rem;">
        <div class="card-header text-white bg-dark d-flex justify-content-between text-center">
            <div class="p-2 bd-highlight" style="width: 8rem;">
                <a href="{% url 'manage_materia' materia %}" class="btn btn-sm btn-success"><i
                        class="bi bi-arrow-left-circle"></i></a>
            </div>
            <div class="p-2 bd-highlight" style="width: 10rem;">Editar imagem</div>
            <div class="p-2 bd-highlight" style="width: 8rem;"></div>
        </div>
        <div class="card-body">
            <div class="card mb-3">
                <div class="card-body">
                    <form action="{% url 'edit_imagem_materia' id %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="materia" value="{{materia}}">

                        <label for="legenda">Legenda da Imagem</label>
                        {{form.legenda}}
                        <div id="legendahelp" class="form-text">{{form.legenda.help_text}}</div>

                        <label for="imagem" class="form-label">Imagem</label> <br>
                        {% if form.instance.imagem.name %}
                        <p>
                            Atual:
                            <span class="badge badge-dark bg-dark">{{ form.instance.imagem.name }}</span> -

                            <button type="button" class="btn btn-sm btn-dark" title="Visualizar Imagem"
                                data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                <i class="bi bi-card-image"></i>
                            </button>

                            <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="card">
                                            <img src="{{ form.instance.imagem.url }}" alt="{{ form.instance.legenda }}"
                                                style="margin: 2rem;">
                                        </div>
                                    </div>
                                    <div class="modal-footer d-flex justify-content-center">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </p>
                        {% endif %}

                        {{form.imagem}}

                        <div class="mb-3">
                            <label for="fonte" class="form-label">Fonte</label>
                            {{form.fonte}}
                            <div id="fontehelp" class="form-text">{{form.fonte.help_text}}</div>
                        </div>

                        <button type="submit" class="btn btn-sm btn-dark"><i class="bi bi-floppy"></i> Salvar alterações
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}